body.swagger-section {
  background-color: #e5e5e5;
}
body.swagger-section #header {
    background-color: #333333;
    height: 25px;
}
body.swagger-section #api_info {
    background-color: #4d4d4d;
    color: #ffffff;
    padding: 10px 0 0 5px;
}
body.swagger-section #resources_container {
    padding: 5px;
    background-color: #ffffff;
}
.swagger-section .swagger-ui-wrap .info_title {
    padding: 0;
}
.swagger-section #header a#logo {
    display: none;
}
.swagger-section #header form#api_selector {
    float: none;
}
#lnkAuthenticate, #lnkGetJson {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 8px;
    font-size: 0.9em;
    color: white;
    background-color: #01A982;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
#lnkAuthenticate:hover, #lnkGetJson:hover {
    background-color: #01c799;
}
.btn {
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 0;
    box-shadow: 1px 1px 1px -1px #333;
    color: #fff !important;
    padding: 4px 7px;
    font-size: 16px;
    border: 2px solid #999999;
    background-color: #999999;
    position: relative;
}
.btn:hover {
    border: 2px solid #a8a8a8;
    background-color: #a8a8a8;
}
.btn:active {
    border: 2px solid #8a8a8a;
    background-color: #8a8a8a;
    box-shadow: none;
    outline: none;
}
.btn:focus {
    outline: none;
}
.btn.btn-action {
    border: 2px solid #01A982;
    background-color: #01A982;
}
.btn.btn-action:hover {
    border: 2px solid #01c799;
    background-color: #01c799;
}
.btn.btn-action:active {
    border: 2px solid #018b6b;
    background-color: #018b6b;
    box-shadow: none;
    outline: none;
}
.btn.btn-action:focus {
    outline: none;
}
.btn.btn-default {
    border: 2px solid #999999;
    background-color: #999999;
}
.btn.btn-default:hover {
    border: 2px solid #a8a8a8;
    background-color: #a8a8a8;
}
.btn.btn-default:active {
    border: 2px solid #8a8a8a;
    background-color: #8a8a8a;
    box-shadow: none;
    outline: none;
}
.btn.btn-default:focus {
    outline: none;
}